body,div,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,html,label,a {margin:0;padding:0;}
/* ul was removed from above list - CRS */
/* table{border-collapse:collapse;border-spacing:0;} */
fieldset,img,a img,:link img,:visited img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
/* ul was removed from next - CRS */
ol {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}

/* ------------------------ GLOBAL ELEMENTS ------------------------ */

/* ------------------------ type selectors ------------------------ */
body { 
    /*background:#fff url("../images/bg1.jpg") top repeat-x;*/
	text-align:center; 
	font:12px/16px Trebuchet MS, Arial, "Helvetica", sans-serif; 
	color: #000;
	}
	blockquote { margin-left:10px; margin-right:10px; }

h1	{ font-size:12px; color:#837a7a;

}
h2	{ font-size:12px; color:#837a7a; }
h3	{ font-size:12px; color:#837a7a; }

h1 span,h2 span,h3 span	{ display:none; }
a:link      { color: #5987c6; text-decoration: none; outline:none; cursor: pointer;}
a:visited	{ color: #5987c6; text-decoration: none; outline:none; cursor: pointer;}
a:hover	    { color: #B3815B; text-decoration:none; outline:none; cursor: pointer;}
a:active	{ color: #B3815B; text-decoration:none; outline:none; cursor: pointer;}

.BLUE a:link        { color: #5987c6; text-decoration: none; outline:none; cursor: pointer;}
.BLUE a:visited	    { color: #5987c6; text-decoration: none; outline:none; cursor: pointer;}
.BLUE a:hover	    { color: #B3815B; text-decoration:none; outline:none; cursor: pointer;}
.BLUE a:active	    { color: #B3815B; text-decoration:none; outline:none; cursor: pointer;}

.BROWN a:link      { color: #774400; text-decoration: none; outline:none; cursor: pointer;}
.BROWN a:visited	{ color: #774400; text-decoration: none; outline:none; cursor: pointer;}
.BROWN a:hover	    { color: #774400; text-decoration:none; outline:none; cursor: pointer;}
.BROWN a:active	{ color: #774400; text-decoration:none; outline:none; cursor: pointer;}

/* ------------------------ classes ------------------------ */


.address {
	font-size: 9px;
	color: #837a7a;
	font-family: Arial, "Helvetica", sans-serif;
	/*padding-top: 25px;*/
	}
	.contentbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	}
.clear	{ 
	clear:both;
	}

div.clear	{ 
	height:.01em;
	clear:both;
	overflow:hidden;
	}
div.clear-h2	{ 
	height:10px; 
	clear:both;
	overflow:hidden; 
	}

p.more-info {
	text-align:right;
	display:block;
	}
img.img-left { 
	float:left; 
	}

img.img-right { 
	float:right;
	
	/*margin:5px 5px 5px 5px; */
	}
#framecontent{
position: absolute; 
bottom: 0; 
left: 0; 
width: 100%; 
height: 80px; /*Height of frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background: navy;
color: white;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.BLUE {
	font-size: 14px;
	font-family:Omnes, "Arial", Helvetica, sans-serif;
	color:#5987c6;

}
.BLUE1 {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#5987c6;
	padding-top:9px;
	background:#c0f0b0;
}
.BLUE1TABLE {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#5987c6;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	border:2px solid blue;
	border-collapse:collapse;
}
.BLUE1CELL {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#5987c6;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	border:1px solid blue;
}
.BLUE1INVERT {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	background:#5987c6;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	color:white;
}
.BROWN {
	font-size: 14px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#774400;
}
.BROWN1 {
	font-size: 18px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#774400;
}

.GREEN1 {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#5987c6;
	padding-top:9px;
	background:#c0f0b0;
}
.brown1 {
	font-size: 17px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#774400;
	font-weight: bold;
	text-align: center;
	
}
.grey {
	font-size: 14px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#787878;
	
}
.grey1 {
	font-size: 11px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#787878;
	
}
.greycontent {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#787878;
	
}
.blackcontent {
	font-size: 12px;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	color:#222222;
	
}
.h1white {
	font-size: 14px;
	color: #000;
	font-family: Omnes, Arial, "Helvetica", sans-serif;
	

}
.h1white1 {
	font-size: 11px;
	color: #837b70;
	font-family: Omnes, Arial, "Helvetica", sans-serif;
	line-height:20px;
	

}
.h1text {
	font-size: 14px;
	color: #fff;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	line-height:20px;
	
	
}
.h1text a:hover {
	font-size: 14px;
	color:#abc020;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	
}

.h1text a:hover, h1text a:visited, h1text a:link {
	color: #abc020;
	
}

.inicio {
	font-size: 14px;
	color: #544204;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	
}
.h1title {
	font-size: 18px;
	color: #fff;
	font-family: Omnes, "Arial", Helvetica, sans-serif;
	/*font-weight: bold;*/
	
	
}
.h2title {
	font-size: 14px;
	color: #CCCCCC;
	padding-bottom:8px;
	font-family: Omnes, Arial, "Helvetica", sans-serif;
	
	
}

.h1green {
	font-family: Omnes, "Times New Roman", Times, serif;
	font-size: 22px;
	line-height: 33px;
	color: #5987c6;
}
.h2greensmall {
	font-family: Omnes, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style:italic;
	line-height: 24px;
	color: #A8B47C;
}


/* ------------------------------- CONTENT FRAMEWORK ------------------------------- */

/* ------------------------ main framework ------------------------ */
#wrap {
	width:1000px;
	margin:0 auto;
	}

/* ------------------------ masterhead  ------------------------ */
#masterhead {
	position:relative;
	height:110px;
	width:840px;
	}
	
#fasterbot {
	position:relative;
	height:113px;
	width:968px;
	}
	
#subtop{
	float:left;
	height:23px;
	width:942px;
	background:#fff url("../images/subtop1.jpg") top no-repeat;
	padding-top:11px;
	}

#subtop1{
	height:51px;
	width:918px;
	background:#fff url("../images/newmenubar3.png") top repeat;
	padding-right:3px;
	padding-top:1px;
	}

#logoleft 
{
    padding-top:14px;
    float:left;
}
#logoright
{
    padding-top:11px;
    float:right;
}

#menuleft 
{
    padding-top:0px;
    padding-left:30px;
    float:left;
}

#menuright
{
    padding-top:8px;
    float:right;
}

#flash {
    height:166px;
	width:925px;
	padding-top:15px;
	padding-bottom:17px;
	padding-right:25px;
	padding-left:18px;

	}
#subflash {
	float:left;
    height:30px;
	width:968px;
	padding-top:15px;
	/*background:#fff url("../images/subflash.jpg");*/

	}	

#sidea-a {
	float:left;
    /*background:#fff url("../images/sa.jpg");*/
	height:0 auto;
	width:176px;
	padding-left:25px;
	padding-right:14px;
	padding-top:15px;
	}
	#sidea-b {
	float:left;
    background:url("../images/SIDE-B-BACK.jpg") top repeat-y;
/*    background:#b4e0c0; */
	height:0 auto;
	width:544px;
	padding-left:13px;
	padding-right:13px;
	padding-top:15px;
	margin-top:1px;
	}
	#sidea-c {
	float:left;
    /*background:#fff url("../images/sa.jpg");*/
	height:0 auto;
	width:166px;
	padding-left:10px;
	padding-right:5px;
	padding-top:15px;
	}
	#total {
	float:left;
   
	height:0 auto;
	width:938px;
	padding-top:5px;
	padding-bottom:6px;
	}
/*---------------------divs collapse ---------------------------*/
	#d1 {

	float:left;
    background: #3E3C20 url("../images/fondos.jpg");
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
		#d2 {

	float:left;
   background: #3E3C20 url("../images/fondos.jpg");
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
		#d3 {

	float:left;
    background: #3E3C20 url("../images/fondos.jpg");
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
		#d4 {

	float:left;
  background: #3E3C20 url("../images/fondos.jpg");
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
		#d5 {

	float:left;
   background: #3E3C20 url("../images/fondos.jpg");
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
		#d6 {

	float:left;
    background:#3E3C20 url("../images/backdiv.png") top repeat-x;
	height:378px;
	width:626px;
	padding-top:25px;
	padding-left:15px;
	margin-top:10px;
	}
	
	
	
	
		 #submenu {
	clear:both;
	background:url("../images/line.png") top repeat-x;
	padding-top:17px;
	height:0 auto;
	min-width:930px;
	width:100%;
	position:relative;	

	}		
		 #bottom {
	clear:both;
	height:0 auto;
	
	min-width:930px;
	width:100%;
	position:relative;
	background:#12161a;
	

	}	
		 #facturacion{
background:url("../images/factback.png") top repeat-x;
	float:left;
	width:491px;
	height:491px;
	padding-left:15.5px;
	padding-right:15.5px;
	
	

	}
	 #factop{
	float:left;
	width:490px;
	height:95px;
	
	}	
	 #factin{

	float:left;
	width:490px;
	height:406px;
	line-height:5px;}	
	#flash1 {
	float:left;
   
	height:0 auto;
	width:938px;
	padding-top:5px;
	
	}
	#flashbot {
	float:left;
    background:url("../images/flashbot.png") top repeat-x;
	height:50px;
	width:938px;

	}
	

#sideb1 {
	float:left;
    background:#fff;
	height:0 auto;
	width:578px;
	padding-top:28px;
	padding-left:27px;
	padding-right:29px;
	
	}
#sidec1 {
	float:right;
    background:url("../images/sidecmain.png") top repeat-y;
	/*height:174px;*/
	height:0 auto;
	width:248px;
	padding-top:28px;
	padding-bottom:28px;
	padding-left:28px;
	padding-right:28px;
	
	}
	
/*------------------menu----------------------------*/


.menu {position:relative; height:26px;width:938px;}
.menu ul {list-style:none; z-index:10; position:absolute; z-index:100; }
.menu li {float:left}
.menu a, .menu a:active, .menu a:visited {text-decoration:none; color:#544204; font-size: 14px;font-family:"Arial", Helvetica, sans-serif;padding:10px}
.menu a:hover {color:#B3815B}
#slide {position:absolute; bottom:0; height:1px; background:#89957a; z-index:10}	

 /* ----------------footer------------------------------------ */



	
	#wrap-bottom {
		width:100%;
		padding-top:25px;
	
		}
/* Class
 * ------------------------------------------------------------------------- */		

.clearfix:after {
    content: "."; 
    display: block; 
    height:0 auto; 
    clear: both; 
    visibility: hidden;
	}
	/* footer
 * ------------------------------------------------------------------------- */
 
#footer 
{
	width:100%;
    background:url("../images/brownfooter.jpg")  top repeat;
	float:left;
    color:white;
    height:250px;
    margin:0 auto;
	}

#footer-wood 
{
    width:995px;
    padding-top:10px;
    background:url('../images/newfooter.png') top no-repeat;
    margin:0 auto;
    height:225px;
}

#footer a:link {
    color:white;
}
#footer a:visited
{
    color:white;
}

#howstart 
{
    float:right;
    padding-right:60px;
}

#howhelp 
{
    float:right;
    padding-right:60px;
}

#lower-menu
{
    float:left;
    width:620px;
    font-size:16px;
    padding-left:50px;
}

#cpyright
{
    text-align:left;
    float:left;
    padding-left:20px;
    font-size:14px;
    width:200px;
}

/*start eJungle Link*/
div#mainFootereJungle
{
    text-align:center;         
    position:relative;
    padding: 17px 0px 0px 0px;
}

#ejungle_link
{
    text-decoration:none;
	font-size:18px;
	margin-right:5px;
	font-family:Arial;
			  
	text-align:center;
}

#ejungle_e
{
    color:#20a5b9;
}
#ejungle_j
{
    color:#20a5b9;
	font-style:italic;
}
#ejungle_ungle
{
    color:#0055a6;
}
/*stop eJungle Link*/

/* Nivo Slider */
#slider-wrapper {
    height:410px;
    margin:0 auto;
	width:550px;
}

#slider {
	position:relative;
    width:550px;
    height:410px;
	background:url("../images/loading.gif") no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}